a {
	color: #fff;
	text-decoration: none;
}

ion-content::part(background) {
  background: var(--ion-color-secondary);
}

.container {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex: 40%;
}

img.logo {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.authorization {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
}

.helper {
	font-size: 0.8rem;
  float: right;
  padding: 0 16px;
  margin: 8px 0;
  }

.errors {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  padding: 0 16px;
}

ion-item::part(native) {
  background: var(--ion-color-secondary);
}

ion-input.base {
  --background: var(--ion-color-primary);
  --color: #fff;
  --placeholder-color: #fff;
  --placeholder-opacity: 1;

  border-radius: 16px;
  height: 48px;
  text-align: center;
}

ion-button {
  --color: #fff;
  --border-color: #fff;
  height: 48px;
  margin: 16px 0;
  padding: 0 16px;
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 10%;
  justify-content: space-between;
  text-align: center;
}

