ion-content {
  --keyboard-offset: 0 !important;
}

a {
	text-decoration: none;
}

.container {
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex: 40%;
}

img.logo {
  max-width: 90%;
  max-height: 90%;
  margin: auto;
}

.authorization {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: center;
}

.helper {
	font-size: 0.8rem;
  float: right;
  padding: 0 16px;
  margin: 8px 0;
  }

.errors {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  padding: 0 16px;
}

ion-input.base {
  --background: #eee;

  border-radius: 16px;
  height: 48px;
  text-align: center;
}

ion-button {
  height: 48px;
}

.footer {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  flex: 10%;
  justify-content: space-between;
  text-align: center;
}

