h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #234477;
}

a {
    color: #fff;
    text-decoration: none;
}

.ion-item-wrapper {
	margin: 8px 0;
	width: 100%;
  }
  
