p {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #234477;
}

.semi-bold {
	font-weight: 600;
}

.ion-item-wrapper {
	margin: 8px 0;
	width: 100%;
}

.toolbar-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}


/* PROFILE SECTION */

.profile {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.profile .card {
	padding: 16px;
	display: flex;
	flex-direction: column;
}

.profile .information-section {
	display: flex;
	flex-direction: column;
}

.information-section .general {
	display: flex;
}

.information-section .general .profile-image {
	flex: 30%;
}

.profile-image .thumbnail {
	border-radius: 50%;
}

.information-section .general .user {
	flex: 70%;
	padding: 0 16px;
	display: flex;
	flex-direction: column;
}

.links-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.links-wrapper .link {
	margin-right: 16px;
}

.profile .options-section {
	margin: 8px 0;
	display: flex;
}

.options-section .item {
	flex: 50%;
}

.statistics-section {
	margin: 8px 0;
	display: flex;
	justify-content: space-between;
}

.statistics-section .item {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
